// #testimonial-card {
//   width: 100%;
// }
.image_card {
  margin-bottom: 10px;
}

.img_box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  padding-bottom: 0px;
  border-radius: 0%;
}

.Recomm-Text {
  color: #000;
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: DM Sans, sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  line-height: 120%;
  // justify-content: center;
  padding-bottom: 20px;
}
