// Card
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #b9cef0;
  min-height: 100vh;
}
.profileImg img {
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  display: block;
  border-radius: 50%;

  // border-radius: 50%;
  // margin-right: auto;
  // width: 20%;
  @media screen and (max-width: 600px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  @media screen and (max-width: 800px) and (min-width: 601px) {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

ul {
  list-style: none;
}

/* Utilities */

body,
.stats {
  display: flex;
}
.infos {
  margin-left: 1.5rem;
}

.name {
  margin-bottom: 1rem;
  padding-left: 15px;
}
.name h2 {
  font-size: 1.8rem;
}
.name h4 {
  font-size: 1rem;
  color: #333;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.stats {
  // margin-bottom: 1.4rem;
}
.stats li {
  min-width: 7rem;
}
.stats li h3 {
  font-size: 1.4rem;
}
.stats li h4 {
  font-size: 0.75rem;
}

.links button {
  font-family: 'Poppins', sans-serif;
  min-width: 120px;
  padding: 0.5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s linear;
  margin: 5px;
}
// .follow {
//   color: #000;
//   letter-spacing: -0.04em;
//   margin-top: 0;
//   margin-bottom: 0;
//   font-family: DM Sans, sans-serif;
//   // font-size: 56px;
//   // font-weight: 400;
//   line-height: 120%;
// }
.links .follow,
.links .view:hover {
  background-color: #222;
  color: #fff;
}
.links .view,
.links .follow:hover {
  background-color: transparent;
  color: #222;
}

@media screen and (max-width: 450px) {
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
    text-align: left;
    text-justify: inter-word;
  }
  .links button {
    min-width: 100px;
  }
}

@media only screen and (orientation: landscape) {
  .profileImg {
    display: block;
    // margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 50%;
  }
}

.AboutText {
  color: #000;
  text-align: center;
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: DM Sans, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

#AboutUnderline {
  background-image: linear-gradient(
    181deg,
    #ffa620 0%,
    #fba11a 50%,
    transparent 54%,
    transparent 100%
  );
  background-size: 100% 15%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 16%;
  margin-bottom: 3.5rem;
}

@media screen and (max-width: 479px) {
  .AboutText {
    font-size: 36px;
    // padding-bottom: 20px;
  }
}
